# Authentication
export CLIENT_ID=
export CLIENT_SECRET=
export TOKEN_URL=

# API endpoints
export API_ADDRESS=
export STREAM_ADDRESS=

# Webhook
export SIGNATURE_PUBLIC_KEY=

# Webhook server
export PORT=8080
